name: Compile and Deploy CV

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Spellcheck LaTeX files
      uses: ChiefGokhlayeh/textidote-action@v5
      id: lint
      with:
        root_file: curriculum-vitae.tex

    - name: Upload TeXtidote report
      uses: actions/upload-artifact@v4
      with:
        name: textidote_report
        path: report.html

    - name: Throw error if linter warnings exist
      if: ${{ steps.lint.outputs.num_warnings != 0 }}
      run: 'echo "::error file=main.tex::num_warnings: ${{ steps.lint.outputs.num_warnings }}"; exit 1;'

    - name: Compile LaTeX CV
      uses: xu-cheng/latex-action@v4
      with:
        root_file: curriculum-vitae.tex

    - name: Compile LaTeX CV with photo
      uses: xu-cheng/latex-action@v4
      with:
        root_file: curriculum-vitae-photo.tex

    - name: Upload PDF as artifact
      uses: actions/upload-artifact@v4
      with:
        name: curriculum-vitae
        path: curriculum-vitae.pdf

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:

    - name: Create/Update Release
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: true
        artifacts: "curriculum-vitae*.pdf"
        artifactContentType: application/pdf
        name: Latest CV
        body: |
          Automatically compiled CV from the latest commit.

          **Last updated:** ${{ github.event.head_commit.timestamp }}
          **Commit:** ${{ github.sha }}
        replacesArtifacts: true
        prerelease: false
        draft: false
        tag: latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
